<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">奖金详情</div>

    <!-- Table -->
    <table class="table" align="center">
        <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle; width: 75px">{:__('Username')}</th>
            <th style="text-align: center; vertical-align: middle; width: 120px;">{:__('Money')}</th>
            <th style="text-align: center; vertical-align: middle; width: 120px">{:__('Netincome')}</th>
            <th style="text-align: center; vertical-align: middle; width: 150px">{:__('F1')}</th>
            <th style="text-align: center; vertical-align: middle; width: 150px">{:__('F2')}</th>
            <th style="text-align: center; vertical-align: middle; width: 75px">{:__('Done')}</th>
            <th style="text-align: center; vertical-align: middle; ">{:__('Source')}</th>
        </tr>
        </thead>
        <tbody>

        {volist name='row' id='vo'}
        <tr>
            <td style="text-align: center; vertical-align: middle; ">{$vo.uname}</td>
            <td style="text-align: center; vertical-align: middle; ">{$vo.money}</td>
            <td style="text-align: center; vertical-align: middle; ">{$vo.netincome}</td>
            <td style="text-align: center; vertical-align: middle; ">{$vo.f1}</td>
            <td style="text-align: center; vertical-align: middle; ">{$vo.f2}</td>
            <td style="text-align: center; vertical-align: middle; ">{$vo.done==1 ? __('Processed') : __('Untreated')}</td>
            <td style="text-align: center; vertical-align: middle; ">{$vo.source}</td>
        </tr>
        {/volist}

        </tbody>
    </table>
</div>

